<div class="header">
    <div class="gpp">
        <div class="group">
            <div class="select-menu" (click)="openMenu(1)" [ngClass]="{'active--button': menu == 1}">
                <i class="material-icons">scatter_plot</i>
                <span>{{(lblDepartment != null) ? lblDepartment : 'Department' }}</span>
            </div>
            <div class="menu" [ngClass]="{'open--menu': menu == 1}">
                <div class="gp-search">
                    <button class="material-icons">search</button>
                    <input type="text" (keyup)="searchDepartment($event.target.value)">
                </div>
                <ul class="list">
                    <li *ngFor="let item of department" (click)="selDepartment(item.name)">{{ item.name }}</li>
                </ul>
            </div>
        </div>
        <div class="group">
            <div class="select-menu" (click)="openMenu(2)" [ngClass]="{'active--button': menu == 2}">
                <i class="material-icons">scatter_plot</i>
                <span>Sector</span>
            </div>
            <div class="menu" [ngClass]="{'open--menu': menu == 2}">
                <div class="gp-search">
                    <button class="material-icons">search</button>
                    <input type="text">
                </div>

                <ul class="list">
                    <li>Sector</li>
                </ul>
            </div>
        </div>
        <div class="group">
            <div class="select-menu" (click)="openMenu(3)" [ngClass]="{'active--button': menu == 3}">
                <i class="material-icons">scatter_plot</i>
                <span>Function</span>
            </div>
            <div class="menu" [ngClass]="{'open--menu': menu == 3}">
                <div class="gp-search">
                    <button class="material-icons">search</button>
                    <input type="text">
                </div>

                <ul class="list">
                    <li>Function</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="body">
    <div class="row">
        <div class="pag-1"></div>
        <div class="pag-2">
            <div>
                <div class="left--base">
                    <div></div>
                    <div></div>
                </div>
                <div class="logo">
                    <img src="../../../assets/logo.png" alt="">
                    <div class="add-photo">
                        <i class="material-icons">add_a_photo</i>
                    </div>
                </div>

                <div class="bd-job">
                    <div class="bd-txt">
                        <span><strong>Department</strong>: Tecnology</span>
                    </div>
                    <div class="bd-txt">
                        <span><strong>Sector</strong>: Developer</span>
                    </div>
                    <div class="bd-txt">
                        <span><strong>Function</strong>: Developer Senior 1</span>
                    </div>
                    <div class="bd-txt">
                        <span><strong>Salary</strong>: Match</span>
                    </div>
                    <div class="bd--area">
                        <label for="requisits"><strong>Requisits</strong>:</label>
                        <textarea name="requisits" id="requisits" cols="15" rows="5">CLICK-ME</textarea>
                    </div>
                    <div class="bd--area">
                        <label for="benefits"><strong>Benefits</strong>:</label>
                        <textarea name="benefits" id="benefits" cols="15" rows="5">CLICK-ME</textarea>
                    </div>
                    <div class="bd--area">
                        <label for="note"><strong>Notes</strong>:</label>
                        <textarea name="note" id="note" cols="15" rows="5">CLICK-ME</textarea>
                    </div>
                    <div class="btn">
                        <button routerLinkActive="active">GO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>