
<div class="body">
    <div class="row-1">
        <div class="gp-group">
            <input type="text">
        </div>
    </div>
    <div class="row-2">
        <ul class="ul-list">
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
        </ul>
    </div>
    <div class="row-3">
        <ul class="ul-list">
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
            <li>
                <div class="gp-group">
                    <input type="text">
                </div>
            </li>
        </ul>
    </div>
    <div class="row-4">
        <div class="gp-group">
            <input type="text">
        </div>
    </div>
</div>