$primary: #7e7e7e;
$secondary: #e78200;
$ligth: #b7b5b5;

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: scroll;
  padding-top: 20px;
}
.card > h3{
  font-family: "Source Sans Pro", sans-serif;
  color: $secondary
}
.card-fixed > h3{
  font-family: "Source Sans Pro", sans-serif;
  color: $secondary
}
@mixin three() {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  box-sizing: border-box;
}

@mixin card($height) {
  min-height: #{$height};
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 11px 1px #ddd;
  background: #fdfdfd;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
  max-height: 500px;
}
.card-fixed {
  @include card(150px);
}
.card {
  @include card(auto);
}
.row-1 {
  @include three;
}
.row-2 {
  @include three;
}
.row-3 {
  @include three;
}
.row-4 {
  @include three;
}
.gp-group {
  width: 100%;
  height: 35px;
  position: relative;
}
.gp-group > input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: $ligth;
  &:focus{
    box-shadow: 0px 0px 2px 0px $secondary;
  }
  &:read-only{
    box-shadow: none;
    background: #ecebeb;
  }
}
.gp-group--active{
  box-shadow: 0px 0px 10px 2px #DDD;
}
.ul-list {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden
}
.box-select{
  width: 12px;
  height: 12px;
  background: $ligth;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 14px;
  cursor: pointer;
  &:hover{
    background: $secondary;
    box-shadow: 0px 0px 15px 1px $secondary;
  }
}
.box-select--active{
  background: $secondary;
  box-shadow: 0px 0px 15px 1px $secondary;
}
.btn{
  align-self: flex-end;
  margin-top: 20px;
}
.btn-ar{
  align-self: flex-end;
  margin-top: 20px;
}
.btn-ar > button{
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  padding: 0;
  background: $ligth;
  cursor: pointer;
  transition: linear 0.5s;
  border-radius: 50%;
  outline: none;
  color: #FFF;
  &:hover {
    background: $secondary;
    box-shadow: 0px 0px 30px 2px #ddd;
    font-size: 25.5px;
    color: #FFF;
  }
}

.btn  > button {
  margin: 3px;
  border: none;
  background: $ligth;
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  color: #fff;
  cursor: pointer;
  transition: linear 0.5s;
  border-radius: 50%;
  outline: none;
  &:last-child:hover {
    background: $secondary;
    box-shadow: 0px 0px 30px 2px #ddd;
    transform: rotate(45deg);
  }
  &:hover {
    background: $secondary;
    box-shadow: 0px 0px 30px 2px #ddd;
    font-size: 15.5px;
  }

}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}