$primary: #7e7e7e;
$secondary: #e78200;
$ligth: #b7b5b5;

.body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.scene {
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  margin: 40px 0;
  perspective: 600px;
  border: none;
  padding: 4px;
}
.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.scene-flip {
  transform: rotateY(180deg);
}
.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 0px 11px -1px #ddd;
  border-radius: 3px;
}

.card_face--front {
  width: 250px;
  height: 250px;
  & > img {
    width: 250px;
    height: 250px;
    object-fit: unset;
  }
}

.card_face--back {
  transform: rotateY(180deg);
}
.card_face--back {
  color: $primary;
}
.message > p > b {
  color: $secondary;
}
.btn {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    & > button {
      width: 100%;
      height: 40px;
      border: none;
      font-size: 19px;
      font-weight: 800;
      color: $secondary;
      background: $ligth;
      transition: linear 0.5s;
      cursor: pointer;
      &:hover, &:focus, &:active {
        background: $secondary;
        color: $primary;
        box-shadow: 0px 0px 14px 0px #a09e9e;
      }
    }
  }

  .new--card {
    position: relative;
  width: 250px;
  height: 250px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.5s;
  &:hover {
    box-shadow: 0px 0px 29px 3px #ddd;
  }
}
.new--card > button {
  border: none;
  background: none;
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  padding: 0;
  color: #b7b5b5;
  cursor: pointer;
  transition: linear 0.5s;
  border-radius: 50%;
  outline: none;
  &:hover {
    color: $secondary;
    width: 50.7px;
  height: 50.7px;
  font-size: 50.7px;
    box-shadow: 0px 0px 30px 2px #ddd;
    transform: rotate(45deg);
  }

}
.new--card > p{
    font-size: 19px;
    color: $ligth;
    font-family: "Source Sans Pro", sans-serif;
    display: none;
    position: absolute;
    bottom: 20px;
}
.new--card:hover > p{
    display: block;
    animation-duration: .5s;
    animation: pwidth .5s;
}
@keyframes pwidth{
    from{bottom: 0}
    to{    bottom: 20px;}
}
