<div class="container">
    <div class="scene scene--card" (click)="toogle(1)">
        <div class="card" [ngClass]="{'scene-flip': flip == 1}">
            <div class="card_face card_face--front">
                <img src="../../assets/new.jpg" alt="">
            </div>
            <div class="card_face card_face--back">
                <div class="header">
                    <img src="../../assets/tipe.png" alt="">
                    <h2>Avaliation</h2>
                </div>
                <div class="message">
                    <p>Create new <b>Avaliation</b> for capacitation</p>
                </div>
                <div class="btn">
                    <button routerLinkActive="active" [routerLink]="['../create']">GO</button>
                </div>
            </div>
        </div>
    </div>
    <div class="scene scene--card" (click)="toogle(4)">
            <div class="card" [ngClass]="{'scene-flip': flip == 4}">
                <div class="card_face card_face--front">
                    <img src="../../assets/newpaper.jpg" alt="">
                </div>
                <div class="card_face card_face--back">
                    <div class="header">
                        <img src="../../assets/tipe.png" alt="">
                        <h2>Avaliation</h2>
                    </div>
                    <div class="message">
                        <p>Portfolio the <b>Avaliation</b></p>
                    </div>
                    <div class="btn">
                        <button routerLinkActive="active" [routerLink]="['../portfolio']">GO</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="scene scene--card" (click)="toogle(2)">
        <div class="card" [ngClass]="{'scene-flip': flip == 2}">
            <div class="card_face card_face--front">
                <img src="../../assets/feed.jpg" alt="">
            </div>
            <div class="card_face card_face--back">
                <div class="header">
                    <img src="../../assets/tipe.png" alt="">
                    <h2>Results</h2>
                </div>
                <div class="message">
                    <p>See new <b>Results</b> in avaliation</p>
                </div>
                <div class="btn">
                    <button>GO</button>
                </div>
            </div>
        </div>
    </div>
    <div class="scene scene--card" (click)="toogle(3)">
        <div class="card" [ngClass]="{'scene-flip': flip == 3}">
            <div class="card_face card_face--front">
                <img src="../../assets/choices.png" alt="">
            </div>
            <div class="card_face card_face--back">
                <div class="header">
                    <img src="../../assets/tipe.png" alt="">
                    <h2>Apply</h2>
                </div>
                <div class="message">
                    <p>Choice a <b>Avaliation</b> for capacitation</p>
                </div>
                <div class="btn">
                    <button>GO</button>
                </div>
            </div>
        </div>
    </div>
</div>